<p style="color: green"><%= notice %></p>

<h1 class="text-center">Restaurant Menus</h1>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <%= button_to "Create Menu", new_menu_path, method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col-4">
      <%= button_to "Order", "/orders", method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container" id="menus">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @menus.each do |menu| %>
        <%= render menu %>
      <% end %>
  </div>
</div>