<h1 class="text-center mt-3">Detail Order</h1>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <%= link_to "Edit this order", edit_order_path(@order) %>
    </div>
    <div class="col-4">
      <%= link_to "Back to orders", orders_path %>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <%= render @order %>
  </div>
</div>

<div class="text-center">
  <%= button_to "Destroy this order", @order, method: :delete %>
</div>